// Colors
$darkBlue: #133B62;
$primaryBlue: #0069AA;
$lightBlue: #0079c4;
$darkGreen: #5E9732;
$primaryGreen: #7AC143;
$lightGreen:  #88c756;
$lightenGreen: #8ce196;

$white: #FFF;
$black: #000;

$darkenGray: #333;
$textColor: #58595b;
$bgColor1: #f5f5f5;
$disabledGray: #aaa;
$darktGray: #ccc;
$lightenGray: #ddd;
$lightGray: #eee;

$red: #FF002A;
$redLight: #FF8C89;
$lightRed: #ff1a3f;
$pink: #f9a;
