@import './styles/core/vars.scss';

.globalSwitch {
  > div { float: left; }

  label { margin: 0; }

  :global {
    .switch {
      line-height: 0;
    }
  }

  .switchinfo {
    margin-right: .5em;
    color: $disabledGray;
    font-size: .85em;
    line-height: 21px;
  }
}
