.AreaFieldRef {
  margin: 0;
  padding: 0;
  list-style: none;
}

.wrapper {
  // cursor: pointer;
  // overflow: hidden;
  // padding: 0 10px;
  //
  a {
    & > div {
      display: inline;
    }
  }
}

.zone {
  padding: .3em;
  // display: inline-block;
  // margin: 0 .2em;
  // font-size: 14px;
}

.coord {
  // font-weight: bold;
}

.value {
  font-size: 14px;
  width: 4em;
}

.content {
  padding: 20px;
  display: none;

  input,
  textarea {
    color: #58595b;
  }

  textarea {
    margin: 10px 0;
    width: 100%;
  }
}

.visible {
  display: block;
}

.selected {
}

.areaId {
  margin-right: .2em;
  background-color: #F5A663;
  border-radius: 50%;
  color: #FFF;
  display: inline-block;
  font-weight: bold;
  height: 25px;
  line-height: 25px;
  text-align: center;
  vertical-align: middle;
  width: 25px;
}
